doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title View Debug Report
    // Bootstrap core CSS
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css")
    // Custom styles for this template
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') RemoteDebug
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') About
            li
              a(href='/contact') Contact      
    .container
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading Log file
            .panel-body(style="max-height: 40em; overflow-x: auto; overflow-y: auto; white-space: nowrap;" id="log")
              each line in data.log
                | !{line}
                br
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading Debug Information
            .panel-body(style="max-height: 40em; overflow-x: auto; overflow-y: auto; white-space: nowrap;" id="debug")
              each line in data.debug
                | !{line}
                br
                  
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading Error Reports
            .panel-body(style="max-height: 40em; overflow-x: auto; overflow-y: auto; white-space: nowrap;" id="error")
              each line in data.errors
                | !{line}
                br
      .row
        .col-md-6
          .panel.panel-primary
            .panel-heading Server Information
            table.panel-body.table
              tr 
                td Online Mode
                td=data.online
              tr
                td Online Players
                td=data.players
              tr
                td Reporting Plugin
                td=data.plugin
        .col-md-6
          .panel.panel-default
            .panel-heading Installed Plugins
            table.panel-body.table
              each plugin, index in data.plugins
                tr
                  td=index
                  td=plugin.version
                  td=plugin.enabled
    // /.container

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script.
      var log = document.getElementById("log");
      var debug = document.getElementById("debug");
      var error = document.getElementById("error");
      log.scrollTop = log.scrollHeight;
      debug.scrollTop = debug.scrollHeight;
      error.scrollTop = error.scrollHeight;
